api/KeyvaultApi/obj/
api/KeyvaultApi/bin/
api/KeyvaultApi.Tests/obj/
api/KeyvaultApi.Tests/bin/
api/**/obj/
api/**/bin/
api/KeyvaultCertificateGet/obj/
api/KeyvaultCertificateGet/bin/

api/api.sln.DotSettings.user

build/

.idea/.idea.keyvault-api.dir/.idea/

build

api/KeyvaultCertificateGet/obj/
api/KeyvaultCertificateGet/bin/
api/KeyvaultCertificateDelete/obj/
api/KeyvaultCertificateDelete/bin/
api/KeyvaultCertificateStore/obj/

api/KeyVaultSecretDelete/bin/

api/KeyVaultSecretDelete/obj/

api/KeyVaultService/bin/

api/KeyVaultService/obj/
