# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.api.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\School\TheLab\keyvault-api\api\api\.idea\.idea.api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
